<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Administration</title>
</head>
<body>
<h1> ADMINISTRATION </h1>
<h2> PRODUITS </h2>
<table border="2" class="table">
    <tr>
        <th>
            photo
        </th>
        <th>
            libelle
        </th>
        <th>
            description
        </th>
        <th>
            prix
        </th>
        <th>
            categorie
        </th>
        <th>

        </th>
    </tr>
    <tr th:each= "produit: ${produits} ">
        <td><img th:src="@{|/img/${produit.getPicture()}|}"/></td>
        <td th:text="${produit.getLibelle()}"> LIBELLE </td>
        <td th:text="${produit.getDescription()}" > DESCRIPTION </td>
        <td th:text="${produit.getPrix()}" > PRIX </td>
        <td th:text="${produit.getCategorie().getNom()}" > NOM </td>
        <td> <a th:href="@{/modifProduitForm(id=${produit.getId()})}"> modifier </a> </td>
    </tr>
</table>
<a href="/ajoutProduitForm">ajout produit</a>
</body>
</html>