<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap4-vibrant-sea.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap4-vibrant-sea.min.css}"/>
    <title>Ajout Produit</title>
</head>
<body>
    <form th:object="${produit}" method="post" action="/ajoutProduit" enctype="multipart/form-data" >
        <p>Libelle: <input type="text" th:field="*{libelle}" id="libelle"/></p>
        <p>Description: <input type="text" th:field="*{description}" id="description"/></p>
        <p>Photo: <input type="file" name="file" id="photo"/></p>
        <p>Prix: <input type="text" th:field="*{prix}" id="prix"/></p>
        <p>Categorie:
            <select th:field="*{categorie}">
                <option th:each="categorie: ${categories}" th:value="${categorie.getId()}" th:text="${categorie.getNom()}">
                    DEFAULT
                </option>
            </select>
        </p>
        <p><input type="submit" value="terminer"/> <input type="reset" value="reset"/></p>
    </form>
</body>
</html>